{%- liquid 
assign active_brand = false
assign page_logo = section.settings.logo

if template == 'collection'
    if  collection.metafields.custom.marca != blank
      assign active_brand = collection.metafields.custom.marca
    endif 
elsif template == 'product'
  if product.metafields.custom.marca != blank
    assign active_brand = product.metafields.custom.marca
  endif
elsif template contains 'page'
    if page.metafields.custom.marca != blank
      assign active_brand = page.metafields.custom.marca
    endif
endif

if active_brand != false
  assign page_logo = active_brand.value.logo_header
  assign page_link = active_brand.value.pagina_principal.url | default: '/'
endif
-%}
<!--page_link: {{ page_link }}-->

{%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if page_logo != blank -%}
                {%- assign logo_alt = page_logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = section.settings.logo_width | divided_by: page_logo.aspect_ratio | round -%}
                {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}
                {{ page_logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: section.settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
                {%- if section.settings.logo_light != blank -%}
                  {%- assign logo_light_alt = section.settings.logo_light.alt | default: shop.name | escape -%}
                  {{ section.settings.logo_light | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce header__heading-logo-light',
                  widths: widths,
                  height: logo_height,
                  width: section.settings.logo_width,
                  alt: logo_light_alt,
                  sizes: sizes,
                  preload: true
                }}
                {%- endif -%}
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}